
input {
  border: 1px solid $gray-e7;
  font-size: $font-size-x-small;
  color: $gray-5b;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
  &::placeholder {
    color: $gray-e7;
  }
  @media only screen and (min-width: $screenMdMin) {
    padding: 5px 10px;
    height: 34px;
  }
}

