@import "reset";
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
    background-color: $white;
    color: $gray-5b;
    font-size: $font-size-small;
    font-family: 'Lato';
}

.container {
    max-width: 1040px;
    box-sizing: border-box;
}

p {
  line-height: 1.5;
}

h3 {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $fw-700;
  margin-bottom: 12px;
  display: block;
}

img {
  width: 100%;
}

ul,ol {
  margin: 0;
}

  @media only screen and (min-width: $screenMdMin) {
    .container {
      // padding: 0 15px;
      .main {
        display: flex;
      }
    }
    .flex-container {
      display: flex;
    }
  }
  