@import "reset";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $white;
    color: $gray-5b;
    font-size: $font-size-small;
    font-family: 'Lato';
}

.container {
    max-width: 1040px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

p {
  line-height: 1.5;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

  @media only screen and (min-width: $screenMdMin) {
    .container {
      padding: 0 15px;
      .main {
        display: flex;
      }
    }
    .flex-container {
      display: flex;
    }
    .col-md-7 {
      width: 60%;
    }
    .col-md-5 {
      width: 40%;
    }
  }
  