@import "navigation";

.logo-banner {
  margin: 40px 0;
  color: $black-0;
  span {
    font-size: $heading-1;
    text-transform: uppercase;
    font-weight: $fw-900;
    text-align: center;
    display: block;
  }
}

.search-field {

}


