// nav menu
.nav-bar {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    nav {
        width: 100%;
        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0;
            li {
                display: inline-block;
            }
            a {
                text-decoration: none;
                color: #5b5a5a;
                text-transform: uppercase;
                font-size: $font-size-small;
                font-weight: $fw-700;
            }
        }
    }
    .search-field {
        width: 100%;
    }

    @media only screen and (min-width: $screenMdMin) {
    flex-direction: row;
       nav {
        width: 75%;
        .navigation {
            justify-content: flex-start;
            a {
                font-size: $font-size-medium;
                padding-right: 24px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
       }
       .search-field {
           width: 25%;
           padding: 2px 0;
       }
    }
}

