

 .product-img {
  margin-bottom: 20px;
}
.product-details {
  margin-bottom: 24px;
  .name {
    font-size: $font-size-large;
    font-weight: $fw-700;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }
  .price {
    font-size: $font-size-medium;
    margin-bottom: 24px;
  }
  .sizes {
    font-size: $font-size-medium;
    display: flex;
    margin-bottom: 24px;
    font-weight: $fw-300;
    ul {
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  .color-swatches {
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      display: block;
      font-size: $font-size-medium;
      font-weight: $fw-300;
    }
    ul li {
      display: inline-block;
      padding-right: 5px;
    }
    span {
      width: 28px;
      height: 28px;
      display: inline-block;
      border: 1px solid $gray-e7;
      border-radius: 4px;
      &.gray {
        background-color: $black-26;
      }
      &.blue-bd {
        background-color: $blue-bd;
      }
      &.white {
        background-color: $white;
      }
      &.teal {
        background-color: $teal;
      }
    }
  }
  .gray-section {
    background-color: $gray-e5;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .description {
    border-bottom: 1px solid $gray-e7;
    padding-bottom: 24px;
    margin-bottom: 24px;
    label{
      text-transform: uppercase;
      font-size: $font-size-small;
      font-weight: $fw-700;
      margin-bottom: 10px;
      display: block;
    }
    p {
      margin: 0;
    }
    .main {
      margin-bottom: 24px;
    }
  }
  .see-more-products {
    ul {
      display: flex;
      justify-content: space-between;
    }

    @media only screen and (min-width: $screenMdMin) {
      ul {
        justify-content: flex-start;
      }
      li {
        padding-right: 10px;
        &:last-of-type {
          padding: 0;
        }
      }
    }
  }
  @media only screen and (min-width: $screenMdMin) {
    .name {
      font-size: $font-size-x-large;
    }
    .price,
    .sizes {
      font-size: $font-size-large;
    }
    .color-swatches {
     label {
      font-size: $font-size-large;
     }
    }
  }
}

