// for future responsive dimension reference

$screenXxs: 320px;
$screenXs: 480px;
$screenSm: 640px;
$screenMd: 1024px;
$screenLg: 1170px;

$screenXsMin: 480px;
$screenSmMin: 640px;
$screenMdMin: 1024px;
$screenLgMin: 1170px;

$screenXsMax: 639px;
$screenSmMax: 1023px;
$screenMdMax: 1169px;

$screenSmMin-ipad: 768px;
$screenLgMin-ipad: 1366px;

$screenMax: 1440px;