$base-unit: 8px;

/////////////////////////////////
//           Fonts             //
/////////////////////////////////
$font-size-x-small-2: 9px;
$font-size-x-small-1: 10px;
$font-size-x-small: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-x-large: 18px;


/////////////////////////////////
//           Colors            //
/////////////////////////////////

$black-0: #000000;
$white: #ffffff;

$gray-5b: #5b5a5a;
$gray-e7: #e7e7e7;
$gray-e5: #e5e5e6;
$gray-6c: #6c6b6b;
$gray-af: #afafaf;

// swatch
$black-26: #262626;
$blue-bd: #bdd0d0;
$teal: #014c4a;